<!-- login.component.html -->
<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="primary">close</mat-icon>
</button>
<div class="container-login">
  <h2>Iniciar Sesión</h2>
  <div class="form-content">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label class="email-content">Email</mat-label>
        <input matInput formControlName="email" autocomplete="off">
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label class="pass-content">Contraseña</mat-label>
        <input matInput formControlName="password" autocomplete="off" type="password">
      </mat-form-field>

      <div class="row">
      <!--   <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div> -->
        <button color="primary" type="submit" [disabled]="loginForm.invalid" class="button-ingresar">Ingresar</button>
        <button  type="button" class="button-cancelar" [mat-dialog-close]="true">Cancelar</button>
      </div>
    </form>
  </div>
</div>
